body {
  margin: 0;
  background-color: grey;
  height: 200vh;
}

canvas {
  display: block;
}

.maindiv {
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
  border: 3px solid black;
  border-radius: 1rem;
  font-size: 50px;
  z-index: 10;
  background-color: rgb(42, 42, 42);
  background-image: url("imgs/me.jpg");
  background-position: center;
  background-size: cover;
  height: 45vh;
  width: 30vw;
}

.maindiv2 {
  position: absolute;
  top: 20%;
  right: 5%;
  color: white;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 50px;
  z-index: 10;
  background-color: rgb(33, 33, 33);
  background-position: center;
  background-size: cover;
  height: 15vh;
  width: 55vw;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.maindiv3 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: white;
  border: 3px solid black;
  border-radius: 3rem;
  font-size: 18px;
  z-index: 10;
  background-color: rgb(33, 33, 33);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 55vw;
  padding: 5px;
  text-align: center;
}

.headinghr {
  border: 1px solid white;
  margin: 0;
}

.headingnametext {
  font-size: 5vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Orbitron", sans-serif;
  margin: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.headingnametext:hover {
  animation-name: spaceOut;
  animation-duration: 1.75s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes spaceOut {
  from {
    letter-spacing: normal;
  }
  to {
    letter-spacing: 2vw;
  }
}

.headingtext {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: all 0.35s ease-in-out;
  color: white;
}

.headingtext:hover {
  color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

div#loader-container img {
  max-width: 500px;
}
/* Loader animation styles */
.splash-wrapper {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 9999;
  background: url("imgs/boxloader.png") no-repeat center center; /* Correct usage of background property */
  background-size: cover; /* Ensures the image covers the entire area */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation-name: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
  animation-delay: 5s;
  top: 0;
}

/* @keyframes slideOut {
  from {
    margin-left: 0vw;
  }
  to {
    margin-left: -100vw;
  }
} */
@media screen and (max-width: 767px) {
  div#loader-container {
    background-size: cover;
  }
  div#loader-container img {
    max-width: 300px;
  }
}

.loader {
  color: #fff;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}
.loader::before {
  content: "";
  position: absolute;
  right: 68px;
  bottom: 21px;
  height: 24px;
  width: 7px;
  outline: 1px solid #fff;
  color: #00ff80;
  box-sizing: border-box;
  animation: animloader1 1s linear infinite alternate;
}
.loader::after {
  content: "";
  width: 4px;
  height: 4px;
  background: #00ff80;
  position: absolute;
  right: 70px;
  top: 8px;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}

@keyframes animloader {
  0% {
    top: 8px;
    transform: rotate(0deg) scale(1);
  }
  100% {
    top: 0px;
    transform: rotate(180deg) scale(1.5);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -28px inset;
  }
}

.menudiv {
  display: none;
  color: white;
  text-align: center;
}

.menuHeader {
  font-family: "Orbitron", sans-serif;
  font-size: 8vw;
}

.menuItem {
  color: white;
  font-size: 3vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: 0.35s ease-in-out;
  text-decoration: none;
}

.menuItem:hover {
  color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    cursor: pointer;
}

